/* コードの文字化けを防ぐ */
@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    font-family: sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    /* 傍線を消すことができる */
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* 背景 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}

/* Header */
.logo {
    width: 210px;
    margin-top: 14px;
}

.page-header {
    display: flex;
    /* 画面の左右端に揃える */
    justify-content: space-between;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    /* 左右にpaddingを付けるとスマートフォンなどの狭い画面でみても余白ができて見やすくなる */
    padding: 0 4%;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    margin-top: 34px;
    /* ・が消える */
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    /* リンクはデフォルトだと青色なので色を変える */
    color: #432;
}
.main-nav a:hover {
    /* カーソルを合わせたときだけ色を変える */
    color: #0bd;
}

/* メインコンテンツ */
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}

/* footer */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
    margin-top: 50px;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}